body{
  background-color: #00FF00;
}

#nose
{
	border: solid black 10px;
	margin: 20px;
	background-color: white;
	position: relative;
	left: 450px;
	height: 170px;
	width: 200px;
	transition-property: background;
    transition-duration: 0.5s;
}

#nose:hover {
    background: #CCDD55;
}